<tr class="was-validated @(Index.Active[0] == "active" ? "d-none" : "")">
    <td class="@Index.Hidden[1] text-left">@Transaction.Title</td>
    <td class="@Index.Hidden[0]">
        <div class="input-group">
            <div class="input-group-prepend mb-3" style="width:33.33%">
                <span class="input-group-text text-left" style="width:100%">Category</span>
            </div>
            <datalist id="categories">
                @foreach (var category in Table.Categories)
                {
                    <option value="@category.Key"/>
                }
            </datalist>
            <input list="categories" type="text" pattern="[A-Za-zÀ-ÖØ-öø-ÿ]+" class="form-control bg-transparent text-light" @bind="transaction.Category" required placeholder="Category"/>
        </div>
        <div class="input-group">
            <div class="input-group-prepend mb-3" style="margin-top:12px;width:33.33%">
                <span class="input-group-text text-left" style="width:100%">Title</span>
            </div>
            <input list="titles" type="text" pattern="[A-Za-zÀ-ÖØ-öø-ÿ]+" class="form-control bg-transparent text-light" style="margin-top:12px" @bind="transaction.Title" required placeholder="Title"/>
        </div>
        <div class="input-group">
            <div class="input-group-prepend mb-3 text-dark" style="margin-top:12px;width:33.33%">
                <span class="input-group-text text-left" style="width:100%">@Budgets.Months[0] (€)</span>
            </div>
            <input type="number" class="form-control bg-transparent text-light" style="margin-top:12px" @bind="transaction.LastMonth" required /> 
        </div>
        <div class="input-group">
            <div class="input-group-prepend mb-3" style="margin-top:12px;width:33.33%">
                <span class="input-group-text" style="width:100%">@Budgets.Months[1] (€)</span>
            </div>
            <input type="number" class="form-control bg-transparent text-light" style="margin-top:12px" @bind="transaction.ThisMonth" required />
        </div>
        <div class="btn-group d-flex" style="margin-top:12px">
            <button @onclick="Delete" class="@Index.Hidden[0] btn btn-outline-danger oi oi-minus @active" style="line-height:inherit; position:unset" />
            <button @onclick="Done" class="@Index.Hidden[0] btn btn-@style oi oi-media-record" style="line-height:inherit; position:unset" />
        </div>
    </td>
    <td class="@Index.Hidden[1]">@Transaction.LastMonth €</td>
    <td class="@Index.Hidden[1]">@Transaction.ThisMonth €</td>
    <td class="@Index.Hidden[1]"><span class="btn-outline-info oi oi-media-record @(style == "info" ? "" : "d-none")"/></td>
</tr>

@code {
    [CascadingParameter] Budgets Budgets { get; set; }
    [CascadingParameter] Table Table { get; set; }
    [CascadingParameter] Index Index { get; set; }

    [Parameter] public Transaction Transaction { get; set; }

    private Transaction transaction;
    private string style, active;

    protected override void OnParametersSet()
    {
        transaction = Transaction;
        style = Transaction.IsDone ? "info" : "outline-info";
        active = "";
    }

    void Done()
    {
        style = style == "info" ? "outline-info" : "info";
        Transaction.IsDone = !Transaction.IsDone;
    }

    void Delete()
    {
        active = "active";
        Budgets.Transactions.Remove(Budgets.Transactions.Find(t => (t.Category == Transaction.Category) &&
            (t.Title == Transaction.Title) &&
            (t.LastMonth == Transaction.LastMonth) &&
            (t.ThisMonth == Transaction.ThisMonth)));
    }
}