<tr class="was-validated text-dark @(transaction.IsIncome ? "alert-success" : "alert-danger")">
    <td class="@Body.Hidden[1] text-left">@Transaction.Title</td>
    <td class="@Body.Hidden[0]">
        <div class="btn-group d-flex" style="margin-bottom:24px">
            <button @onclick="IsIncome" class="btn btn-success oi oi-thumb-up @(transaction.IsIncome ? "active" : "")" style="line-height:inherit; position:unset"/>
            <button @onclick="IsIncome" class="btn btn-danger oi oi-thumb-down @(transaction.IsIncome ? "" : "active")" style="line-height:inherit; position:unset"/>
        </div>
        <div class="input-group">
            <div class="input-group-prepend mb-3" style="width:33.33%">
                <span class="input-group-text text-left" style="width:100%">Category</span>
            </div>
            <datalist id="categories">
                @foreach (var category in TBody.Expense)
                {
                    <option value="@category.Key"/>
                }
            </datalist>
            <input list="categories" type="text" class="form-control bg-transparent text-light" @bind="transaction.Category" required placeholder="Category"/>
        </div>
        <div class="input-group">
            <div class="input-group-prepend mb-3" style="margin-top:12px;width:33.33%">
                <span class="input-group-text text-left" style="width:100%">Title</span>
            </div>
            <input type="text" class="form-control bg-transparent text-light" style="margin-top:12px" @bind="transaction.Title" required placeholder="Title"/>
        </div>
        <div class="input-group">
            <div class="input-group-prepend mb-3 text-dark" style="margin-top:12px;width:33.33%">
                <span class="input-group-text text-left" style="width:100%">@Body.Months[0] (€)</span>
            </div>
            <input type="number" step="any" class="form-control bg-transparent text-light" style="margin-top:12px" @bind="transaction.LastMonth" required /> 
        </div>
        <div class="input-group">
            <div class="input-group-prepend mb-3" style="margin-top:12px;width:33.33%">
                <span class="input-group-text" style="width:100%">@Body.Months[1] (€)</span>
            </div>
            <input type="number" step="any" class="form-control bg-transparent text-light" style="margin-top:12px" @bind="transaction.ThisMonth" required />
        </div>
        <div class="btn-group d-flex" style="margin-top:12px">
            <button @onclick="Delete" class="@Body.Hidden[0] btn btn-outline-danger oi oi-minus @active" style="line-height:inherit; position:unset" />
            <button @onclick="Done" class="@Body.Hidden[0] btn btn-@style oi oi-media-record" style="line-height:inherit; position:unset" />
        </div>
    </td>
    <td class="@Body.Hidden[1]">@Transaction.LastMonth €</td>
    <td class="@Body.Hidden[1]">@Transaction.ThisMonth €</td>
    <td class="@Body.Hidden[1]"><span class="btn-outline-info oi oi-media-record @(style == "info" ? "" : "d-none")"/></td>
</tr>

@code {
    
    [CascadingParameter] Body Body { get; set; }
    [CascadingParameter] TBody TBody { get; set; }

    [Parameter] public Transaction Transaction { get; set; }

    private Transaction transaction;
    private string style, active;

    protected override void OnParametersSet()
    {
        transaction = Transaction;
        style = Transaction.IsDone ? "info" : "outline-info";
        active = "";
    }

    void IsIncome()
    {
        Transaction.IsIncome = !Transaction.IsIncome;
        StateHasChanged();
    }

    void Done()
    {
        style = style == "info" ? "outline-info" : "info";
        Transaction.IsDone = !Transaction.IsDone;
    }

    void Delete()
    {
        active = "active";
        Body.Transactions.Remove(Body.Transactions.Find(t => (t.Category == Transaction.Category) &&
            (t.Title == Transaction.Title) &&
            (t.LastMonth == Transaction.LastMonth) &&
            (t.ThisMonth == Transaction.ThisMonth)));
    }
}